body {
    margin: 0;
    padding: 0;
  }
  
  /* estilização geral */
  h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    border: none;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 20rem;
    font-size: 1.1rem;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  /* estilização específica para cada section */
  .login {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 50%;
  }
  
  .cadastro {
    background-color: #dee2e6;
    padding: 2rem;
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 50%;
  }
  
  @media screen and (max-width: 600px) {
    .login,
    .cadastro {
      border-radius: 1rem;
      margin: 1rem;
      max-width: 100%;
    }
  }
  